@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
  }

/* Full Website Style */
*{
    margin: 0;
    padding: 0;
}
  /* Shared Style */
.display-flex{
    display: flex;
}
/* Header Style */
.header-bg{
    background-color: darksalmon;
}
/* nav-bar style */
.nav-bar{
    justify-content: space-between;
    align-items: center;
}
.list-items{
    list-style: none;
    margin-right: 25px;
    color: black;
}
.list-name{
    text-decoration: none;
    color: black;
}